<footer class="the-footer">
    <div class="unit-foot">
        <div class="unit-inner unit-foot-inner">
            <div class="misc vcard">
                <div class="about">
                    <h4><a href="{{ site.paths.home | relative_url }}">{{ site.data.i18n[site.lang].about }}</a></h4>
                    {% if site.main.footer_content %}
                        <p>{{ site.main.footer_content }}</p>
                    {% endif %}
                    {{ site.data.i18n[site.lang].theme_info }}
                </div>
                <div class="social-links">
                    <a class="btn-dark ico-gmail" href="mailto:{{ site.author.email }}" rel="me" target="_blank" title="email"></a>
                    <a class="btn-dark ico-linkedin" href="https://www.linkedin.com/in/sophie-tran-452525bb" rel="me" target="_blank" title="LinkedIn"></a>
                    <a class="btn-dark ico-twitter" href="https://twitter.com/sophiahntran" rel="me" target="_blank" title="Twitter"></a>
                    <a class="btn-dark ico-rg" href="https://www.researchgate.net/profile/Sophia-Tran-4" rel="me" target="_blank" title="Research Gate"></a>
                    <a class="btn-dark ico-uw" href="https://uwaterloo.ca/cognitive-neuroscience-lab/" rel="me" target="_blank" title="University of Waterloo"></a>
        
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="internal back-to-top">{{ site.data.i18n[site.lang].back_to_top }}</a>
</footer>
