<header class="the-header">
    <div class="unit-head">
        <div class="unit-inner unit-head-inner">
            <nav class="nav-global">
                <ul>
                    <li class="logo nav-link">
                        <button class="btn-menu" title="{{ site.data.i18n[site.lang].menu }}"></button>
                        <a href="{{ site.paths.main | relative_url }}">{{ site.title }}</a>
                    </li>
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].CV }}" href="{{ site.paths.CV | relative_url }}">{{ site.data.i18n[site.lang].CV }}</a></li>
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].Dogs }}" href="{{ site.paths.Dogs | relative_url }}">{{ site.data.i18n[site.lang].Dogs }}</a></li>
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].Tutorials }}" href="{{ site.paths.Tutorials | relative_url }}">{{ site.data.i18n[site.lang].Tutorials }}</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
