$color-text-dark: #414141;
$color-text-light: #414141;
$color-hover: #fdfbfc;
$color-hover-transparent: rgba(226, 247, 228, 0.8);
$color-background-dark: rgba(252, 228, 248, 0.897);
$color-enter-hover: rgba(240, 239, 226, 0.8);
$color-background-light: rgba(252, 239, 248, 0.1);
$fonts-body: 'TheFont', 'Times New Roman', Georgia, serif;