$color-text-dark: #414141;
$color-text-light: #414141;
$color-hover: #fdfbfc;
$color-hover-transparent: rgba(226, 247, 228, 0.8);
$color-background-dark: rgba(239, 214, 248, 0.943);
$color-enter-hover: rgba(184, 248, 233, 0.944);
$color-background-light: rgba(252, 239, 248, 0.1);
$fonts-body: 'TheFont', 'Times New Roman', Georgia, serif;