$fonts-heading: 'Ubuntu Condensed', Helvetica, sans-serif;
$fonts-body: 'Bitter', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
$fonts-code: Monaco, 'Lucida Console', monospace;
$color-text: rgba(68, 67, 67, 0.8);
$color-hover: #f0cee7;
$color-hover-transparent: rgba(178, 252, 252, 0.7);
$color-meta-link-hover: #c7fdfb;
$color-box-border: #3a3838;
$color-code-background: #f8cee8;
$color-inline-code-background: #EAEAEA;
