$fonts-heading: 'Monaco, 'Lucida Console', monospace;
$fonts-body: 'Bitter', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
$fonts-code: Monaco, 'Lucida Console', monospace;
$color-text: rgba(0, 0, 0, .8);
$color-hover: #f5bae6;
$color-hover-transparent: rgba(193, 240, 247, 0.7);
$color-meta-link-hover: #f8b0e6;
$color-box-border: #f1cfef;
$color-code-background: #272822;
$color-inline-code-background: #EAEAEA;
