<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
    {% include common/meta.html %}
    <link href='{{ site.baseurl }}/assets/stylesheets/home.css' rel="stylesheet" type="text/css">
    {% include common/libraries.html %}
    {% if site.google_tag_manager %}
        {% include common/gtm-head.html %}
    {% endif %}
    <link rel="shortcut icon" href="/assets/images/Favicon.png">
</head>

<body>
    {% if site.google_tag_manager %}
        {% include common/gtm-body.html %}
    {% endif %}

    <ul id="menu">
        <li data-menuanchor="bio"><a href="#bio">Biography</a></li>
        <li data-menuanchor="social"><a href="#social">Social Links</a></li>
    </ul>

    <div id="section0" class="section" data-name="bio">

        {% include common/notices.html %}

        <div class="headings animated fadeInLeft">
            {% if site.home.section1 %}{{ site.home.section1 }}{% endif %}
            {% if site.home.section2 %}{{ site.home.section2 }}{% endif %}
            {% if site.home.section3 %}{{ site.home.section3 }}{% endif %}              
        </div>
        <html>
            <head>
                <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
                <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0;  user-scalable=0;" name="viewport">
                <link rel="stylesheet" href="/assets/stylesheets/main.css">
            </head>
            <body width = "device-width">
                <img class="test"  src="/assets/images/IMG37.png">
            </body>
        <a class="btn-continue animated bounce" title="{{ site.data.i18n[site.lang].more }}" href="#social"></a>
    </div>

    <div id="section1" class="section" data-name="social">
        <h1 class="animated hidden">
            <a class="btn-enter btn-light" title="{{ site.data.i18n[site.lang].enter}}" href="{{ site.paths.main | relative_url }}">{{ site.data.i18n[site.lang].enter}}</a>
        </h1>
        <div class="social-links animated hidden">
            <a class="btn-dark ico-gmail" href="mailto:{{ site.author.email }}" rel="me" target="_blank" title="email"></a>
            <a class="btn-dark ico-linkedin" href="https://www.linkedin.com/in/sophia-tran-452525bb" rel="me" target="_blank" title="LinkedIn"></a>
            <a class="btn-dark ico-twitter" href="https://twitter.com/sophiahntran" rel="me" target="_blank" title="Twitter"></a>
            <a class="btn-dark ico-github" href="https://github.com/Shntran?tab=repositories" rel="me" target="_blank" title="Github"></a>
            <a class="btn-dark ico-rg" href="https://www.researchgate.net/profile/Sophia-Tran-4" rel="me" target="_blank" title="Research Gate"></a>
            <a class="btn-dark ico-uw" href="https://uwaterloo.ca/cognitive-neuroscience-lab/" rel="me" target="_blank" title="University of Waterloo"></a>
            <a class="btn-dark ico-gs" href="https://scholar.google.ca/citations?user=rYNR5ekAAAAJ&hl=en" rel="me" target="_blank" title="Google Scholar"></a>

        </div>
    </div>

    {% include home/scripts.html %}
</body>

</html>