<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
    {% include common/meta.html %}
    <link href='{{ site.baseurl }}/assets/stylesheets/main.css' rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    {% include common/libraries.html %}
    {% if site.google_tag_manager %}
        {% include common/gtm-head.html %}
    {% endif %}
</head>

<body>
    {% if site.google_tag_manager %}
        {% include common/gtm-body.html %}
    {% endif %}

    {% include common/notices.html %}
    {% include main/overlay.html %}

    <div id="page" class="hentry">
        {% include main/header.html %}

        <div class="body animated fadeInDown" role="main">
            <div class="unit-body">
                <div class="unit-inner unit-body-inner">
                    <div class="entry-content">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        {% include main/footer.html %}
    </div>

    {% include main/scripts.html %}
</body>

</html>